@model Voting.WebApp.Controllers.QuestionViewModel

@{
    ViewBag.Title = "Question";
    Layout = "_Layout";
}

<h2>@Model.Question</h2>
<vc:progress questionnaire-id="@Model.QuestionnaireId"/>
@if (Model.IsAnswered)
{
    <div>
        <h4>From @@Html.DisplayForModel</h4>
        @Html.DisplayForModel()
    </div>
    <div>
        <h4>From diplayTagHelper</h4>
        <display-for-model/>
    </div>
    <a asp-action="Question" asp-route-id="@(Model.NextQuestionId)">Go to next question</a>
}
else
{
    <div>
        <h4>From @@Html.EditorForModel</h4>
        @Html.EditorForModel()
    </div>
    <div>
        <h4>From editorTagHelper</h4>
        <editor-for-model/>
    </div>
}